* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url(image/background.jpg);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.35);
}

.cotainer {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #df747c;
}

h2 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  color: #37dbff;
  background-color: rgb(72, 60, 60, 0.75);
}

h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  color: #5b5b5e;
  margin-top: 10px;
  background-color: rgb(55, 219, 255, 0.5);
}

p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #5b5b5e;
  padding-top: 10px;
  text-align: justify;
}

h1 ~ p:first-of-type {
  font-weight: bold;
}

article {
  width: 20%;
  margin: 0 5px;
}

article ul {
  padding: 0 10px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

a p {
  color: #df747c;
}

a p:hover {
  color: rgb(55, 219, 255, 0.5);
}

a p:active {
  color: rgba(42, 156, 182, 0.5);
}

.header_content_wrap,
.main_content_wrap,
.footer_content_wrap {
  padding: 25px 0;
}

/* Header */

.header_content_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header_content_wrap img {
  border-radius: 50%;
  margin-right: 20px;
  width: 300px;
  height: 300px;
}

.header_content_wrap div {
  margin: 0 20px;
}

/* Main */

.main_content_wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* Footer */

.footer_content_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_content_wrap .contact ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_content_wrap .contact li {
  display: flex;
  padding-left: 27px;
}
.footer_content_wrap .contact a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: #df747c;
  background-position: 9px 9px;
}

.footer_content_wrap .contact a:hover {
  background-color: rgb(55, 219, 255, 0.5);
}

.footer_content_wrap .contact a:active {
  background-color: rgba(42, 156, 182, 0.5);
}

.footer_content_wrap .contact .e_mail {
  background-image: url(image/icons/email.png);
}

.footer_content_wrap .contact .linkedin {
  background-image: url(image/icons/linkedin.png);
}

.footer_content_wrap .contact .phone {
  background-image: url(image/icons/phone.png);
}
