* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #e7ebee;
}

.wrapper {
  margin: 0 auto;
  max-width: 890px;
}

.wrapper__header,
.wrapper__footer {
  background-color: #c6d9df;
}

.wrapper__main {
  background-color: #ffffff;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 165%;
  color: #003d74;
  letter-spacing: -0.02em;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 165%;
  color: #003d74;
  background: linear-gradient(
    90deg,
    rgba(199, 218, 224, 1) 0%,
    rgba(238, 244, 245, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 165%;
  color: #003d74;
}

p {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 165%;
  color: #252932;
  opacity: 0.8;
}

.subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #003d74;
  opacity: 0.8;
  padding-top: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

li {
  list-style-type: none;
  margin: 5px 0;
  margin-right: 20px;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

header li p {
  margin-left: 20px;
}

a p:hover,
a p:active {
  color: #003d74;
}

li.location::before {
  content: "";
  background: url(../icons/location.svg) no-repeat 50%;
  width: 13px;
  height: 22px;
  position: absolute;
}

li.phone::before {
  content: "";
  background: url(../icons/phone.svg) no-repeat 50%;
  width: 14px;
  height: 24px;
  position: absolute;
}

li.email::before {
  content: "";
  background: url(../icons/email.svg) no-repeat 50%;
  width: 16px;
  height: 21px;
  position: absolute;
}

li.linkedin::before {
  content: "";
  background: url(../icons/linkedin.svg) no-repeat 50%;
  width: 16px;
  height: 21px;
  position: absolute;
}

.header__content,
.main__content,
.footer__content {
  padding: 30px 0;
  margin: 0 40px;
}

/* Header */

.header__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.header__description {
  margin: 0 30px;
}

.header__content .contact {
  margin: 25px 0px;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 4px solid #ffffff;
}

.contact-list {
  height: 66px;
}

/* Main */

.main__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* section {
  padding: 10px;
} */
.left {
  padding: 10px;
  flex: 41;
}

.right {
  padding: 10px;
  flex: 59;
}

article {
  margin-bottom: 20px;
}
.title {
  padding-left: 20px;
  margin-bottom: 20px;
}

.hardskill-item,
.languages-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  width: 100%;
  max-width: 160px;
  height: 6px;
  background: #c7dae0;
  border-radius: 3px;
  overflow: hidden;
}
.progress .progress-bar {
  display: block;
  height: 100%;
  background: #003d74;
  background-size: 300% 100%;
}

.experience__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.experience-list {
  margin-bottom: 10px;
}

.experience-item {
  display: flex;
}

.experience__image {
  margin-right: 40px;
}

.experience__image img {
  height: 120px;
  width: 220px;
  border-radius: 3px;
}

pre {
  font-family: "Source Code Pro", monospace;
  background: #ededed;
  border: 1px solid #ddd;
  border-left: 3px solid #003d74;
  color: #666;
  page-break-inside: avoid;
  font-size: 15px;
  max-width: 100%;
  overflow: auto;
  padding: 0 1.5em;
  display: block;
  word-wrap: break-word;
}

.account a {
  color: #003d74;
  border-radius: 3px;
}
/* Footer */

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github {
  display: block;
  width: 120px;
  height: 45px;
  padding-left: 45px;
  background-image: url(../icons/github.svg);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: #003d74;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}
.github:hover {
  color: #0c2133;
}
.rss {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 86px;
  height: 32px;
  background-image: url(../icons/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 111px;
}
.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #003d74;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}
.rss:hover .rss-year {
  right: -5px;
  letter-spacing: 0;
  color: #0c2133;
}
